* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


main{
    overflow-y: scroll;
}
.container {
    max-width: calc(100vw - 10%);
}
.row{
    display: flex;
}
.col{
}
.box{
    border: 1px solid transparent;
}
.btn{
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 15px;
    cursor: pointer;
}
.btn-black{
    background-color: #080b12;
    border-color: white;
    color: white;
    font-size: 20px;
}
img{
    width: 100%;
}
.iconcine{
    display: inline-block;
}


/* INIZIO HEADER  */
.c-header {
    max-width: calc(100vw - 90%);
    background-color: #000000;
}
header .row {
    flex-direction: column;
}
header .col {
    margin-left: 15px;
    margin-top: 20px;
}
header .col:nth-last-child(1) {
   margin-top: 700px;
   margin-bottom: 20px;
   margin-left: 15px;
}
.logo {
    width: 90%;
}
header .box-lista{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.ul-header, .li-header, span{
    list-style-type: none;
    font-size: 30px;
    line-height: 70px;
    color: grey;
    cursor: pointer;
}
.link-header{
    cursor: pointer;
    text-decoration: none;
    color: grey;
}
header .box-title{
    margin-top: 40px;
}

header h1{
    color: white;
    font-size: 40px;
}
.iconcina-big {
    font-size: 90px;
    vertical-align: middle;
}
header p {
    color: grey;
    font-size: 40px;
}
.hr-header{
    color: grey;
    margin-top: 10px;
    margin-bottom: 25px;
    max-width: 250px;
    margin-left: 15px;
}

/* FINE HEADER */

/* INIZIO HERO */
#hero {
    background-color: #080b12;
}
#hero .row{
    justify-content: flex-end;
}
#hero .box{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 20px;
}
/* FINE HERO */

/* INIZIO INFO */
#info{
    background-color: #141922;
}
#info .row {
    justify-content: center;
}
#info .box-list{
    margin-top: 20px;
}
.ul-info, .li-info{
    list-style-type: none;
    font-size: 30px;
    display: flex;
    gap: 20px;
    color: grey;
    cursor: pointer;
}
/* FINE INFO */

/* INIZIO RECENTI */
#recenti{
    background-color: #141922;
}
#recenti .row:nth-last-child(1), .col:nth-last-child(1){
    display: flex;
    justify-content: center;
    gap: 50px;
    cursor: pointer;
}
#recenti .box-title{
    margin: 30px;
    color: white;
    justify-content:  left;
}
#recenti .box-text{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}
#recenti h3{
    color: white;
}
#recenti h5{
    color: grey;
}
/* FINE RECENTI */

/* INIZIO FOR-USER */
#for-user{
    background-color: #141922;
}

#for-user .row:nth-child(1) .col:nth-child(1){
    display: block;
}

#for-user .box-title, .box-sub-title{
    margin: 15px;
} 
#for-user .row:nth-last-child(1), .col:nth-last-child(1){
    display: flex;
    justify-content: center;
    gap: 50px;
    cursor: pointer;
}
#for-user .box-title{
    margin: 30px;
    color: white;
    justify-content:  left;
}
#for-user .box-text{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}
#for-user h3{
    color: white;
}
#for-user h5, h4{
    color: grey;
}
/* FINE FOR-USER */

/* INIZIO ARTISTI-POPOLARI */
#artisti-popolari{
    background-color: #141922;
}

#artisti-popolari .row:nth-child(1) .col:nth-child(1){
    display: block;
}

#artisti-popolari .box-title, .box-sub-title{
    margin: 15px;
} 
#artisti-popolari .row:nth-last-child(1), .col:nth-last-child(1){
    display: flex;
    justify-content: center;
    gap: 50px;
    cursor: pointer;
}
#artisti-popolari .box-title{
    margin: 30px;
    color: white;
    justify-content:  left;
}
#artisti-popolari .box-text{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}
#artisti-popolari h3{
    color: white;
}
#artisti-popolari h5, h4{
    color: grey;
}
/* FINE ARTISTI-POPOLARI */