* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* INIZIO ELEMENTI */
.separatore{
    height: calc(100vh - 100px);
    display: flex;
}
.container {
    border: 1px solid transparent;
    padding-left: 20px;
    padding-right: 20px;
}
.c-icon{
    display: flex;
    gap: 10px;
    color: grey;
    cursor: pointer;
}
.btn{
    border: 1px solid transparent;
    cursor: pointer;
}
ul, li{
    cursor: pointer;
    list-style-type: none;
}
.link{
    cursor: pointer;
    text-decoration: none;
}
.album{
    width: 100%;
    cursor: pointer;
}
/* FINE ELEMENTI */

/* INIZIO HEADER */
header{
    max-width: 250px;
    flex-shrink: 0;
    overflow: hidden;
    background-color: #000000;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
}
.logo{
    width: 70%;
}
header .row:nth-child(2){
    margin-top: 20px;
}
.ul-header, .li-header{
    line-height: 30px;
    color: grey;
}
.link-header{
   color: grey;
   font-size: 20px;
}
header .row:nth-child(3){
    margin-top: 20px;
}
.iconcina-big {
    font-size: 30px;
    vertical-align: middle;
}
header .box-title-header{
    color: white;
    margin-bottom: 10px;
}
header .row:nth-last-child(1){
    margin-top: 450px;
}
.hr-header {
    margin-top: 12px;
    margin-bottom: 20px;
    border-color: grey;
}
header .install{
    font-size: 16px;
    color: grey;
}
header .user{
    color: white;
}

/* FINE HEADER */

main{
    width: calc(100vw - 250px);
    flex-shrink: 1;
    background-color: #141922;
    overflow-y: auto;
}

/* INIZIO HERO */
#hero{
    background-color: #080b12;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}
.btn-black{
    border-radius: 20px;
    border-color: white;
    background-color: #080b12;
    color: white;
    font-weight: 600;
    padding: 10px;
}
/* FINE HERO */

/* INIZIO NAV */
#nav{
    margin-top: 30px;
}
.ul-nav, .li-nav{
    display: flex;
    justify-content: center;
    color: grey;
    gap: 20px;
}
/* FINE NAV */

/* INIZIO RECENTI */
#recenti{
    margin-top: 30px;
}
#recenti h2{
    color: white;
    font-weight: 400;
}
#recenti .row:nth-child(2){
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 30px;
}
#recenti .box-text{
    margin-top: 5px;
    text-align: center;
}
.title{
    color: white;
}
.sub-title{
    color: grey;
}
/* FINE RECENTI */

/* INIZIO FOR-USER */
#for-user{
    margin-top: 30px;
}
#for-user h2{
    color: white;
    font-weight: 400;
}
#for-user .row:nth-child(2){
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 30px;
}
#for-user .box-sub-title{
    margin-top: 5px;
}
#for-user .box-text{
    margin-top: 5px;
    text-align: center;
}
/* FINE FOR-USER */

/* INIZIO FOR-USER */
#popular {
    margin-top: 30px;
}
#popular  h2{
    color: white;
    font-weight: 400;
}
#popular  .row:nth-child(2){
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 30px;
}
#popular  .box-sub-title{
    margin-top: 5px;
}
#popular .box-text{
    margin-top: 5px;
    text-align: center;
}
.circle{
    border-radius: 50%;
}
/* FINE FOR-USER */

/* INIZIO FOOTER */
footer{
    height: 100px;
    background-color: #282828;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer .row {
    display: flex;
    justify-content: space-between;
}
footer .col:nth-child(1), .box-container-footer{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 10px;
}

.box-image-play{
    border: 1px solid transparent;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
}
.play{
    width: 100%;
}
footer .col:nth-child(2) {
    display: block;
    
}

footer .box-top, .box-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 20px;
    color: white;
    margin-top: 10px;
}

.hr-song{
    border: 2px solid grey;
    width: 500px;
    cursor: pointer;
}

footer .col:nth-last-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    color: white;
}

.hr-volume{
    border: 2px solid grey;
    width: 150px;
    cursor: pointer;
}

/* INIZIO FOOTER */


